@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

*{
    box-sizing: border-box;
}
body{
    background-color: rgb(40, 39, 39);
    font-family: 'IBM Plex Sans', sans-serif;
}
.container{
    width: 1400px;
    max-width: 100%;
    margin: auto;
}
.logo h1{
    color: rgb(226, 17, 80);
    font-size: 30px;
    font-weight: 600;
    padding: 15px;
}
a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}
.navigation{
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;
}
li{
    padding: 15px 15px;

}

.orive{
    display: flex;
    align-content: center;
    margin-top: 100px;
    flex-wrap: wrap;
}
.left{
    width: 800px;
    max-width: 100%;
}
.right{
    width: 600px;
    max-width: 100%;
    height: 400px;
    background-color: gray;
    border-radius: 10px;
}
.left h1{
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 20px;
}
.left p{
    padding-top: 20px;
    color: #fff;
    font-size: 20px;
    padding-right: 50px;
}
.inside-box{
    width: 550px;
    max-width: 100%;
    height: 350px;
    border: solid 3px #fff;
    border-radius: 10px;
    margin: 25px auto;
    position: relative;
}
/* .user-img{
    margin: 0;
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translate(-50%);
} */
.user-img{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
input{
    border: none;
    outline: none;
    font-size: 20px;
    color: #fff;
    background-color: gray;
    border-bottom: solid 3px #fff;
    width: 200px;
    height: 30px;
    margin: auto;
    margin-top: 20px;
    align-items: center;
    cursor: pointer;
}
.inside-input{
    display: flex;
    flex-direction: column;
}
::placeholder{
    font-size: 20px;
    color: #fff;
}
.inside-input button{
    display: block;
    width: 200px;
    margin: auto;
    margin-top: 30px;
    color: #fff;
    background-color: rgb(226, 17, 80);
    border: none;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
    padding-left: 20px;
    cursor: pointer;
}

@media screen and (max-width:700px) {
    .orive{
      width: 100%;
      margin-top: 0px;
    }
    .left{
        width: 100%;
        
    }
    .right{
        width: 100%;
        margin-top: 30px;
    }
    .nav{
        display: none;
    }
}

@media screen and (min-width:700px) and (max-width:1200px) {
    .orive{
        width: 100%;
      }
      .left{
          width: 50%;
          
      }
      .right{
          width: 50%;
          
      }
      
  }
  @media (min-width:1300px) and (max-width:1700px) {
    .orive{
        width: 100%;
      }
      .left{
          width: 60%;
          
      }
      .right{
          width: 40%;
          
      }
  }